/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 5:03:20 PM
    Author     : JL
*/

@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200);

body{
    font-family: 'Lora', serif;
}

footer{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 100;
}