/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2015, 1:12:15 PM
    Author     : JL
*/

html{
    height: 100%;
    
}
body{
    margin: 0;
    padding: 0;
    background-color: #EBEAEA;
}

#banner h1{
    margin : 0;
    margin-top:3%;
    padding : 1.2%;
}

#bannerImage{
    height: 27em;
    width: 70%;
    display : block;
    margin: auto;

    
}


video{
    
    display: block;
    margin: auto;
    
}


#content{
  height: 100%; 
}

#menu{
    position: fixed;
    top: 0;
    width: 100%;
}

#menu ul{
    margin: 0;
    text-align: center;
    padding-top :1%;
    padding-bottom:1%;
}

#menu ul li{
    list-style: none;
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
    
    
}

#menu ul li a{
    
    text-decoration: none;

}



section{
    
    
}

.section h2{
    margin: 0;
    padding: 0;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;

}

p{
    text-indent: 7%;
    padding-top : 2%;
    padding-bottom : 4%;
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;

}

ol{
    
    margin: 0;
    margin-left: 25%;
    padding-top: 1%;
    padding-bottom: 3%;
}

ol li{
    padding-bottom: 1%;
}

.section img{
    display: block;
    margin: auto;
    max-height: 30em;
    padding: 4%;


}

.section video{
    
    display: block;
    margin: auto;
    margin-left: 30%;
    padding: 5%;
}


footer p{
    margin: 0;
    padding-top: 1.25%;
    padding-bottom: 1.25%;

}

.slideShow p{
    text-indent: 0px;
    text-align: center;
    margin: 0;
    padding: 0;
    
    
}

.slideShowImage{
    padding-top: 4%;
    max-width: 50%;
    height: 25em;
}

td{
    
    
}

