/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 5:31:56 PM
    Author     : JL
*/


body{
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

#banner{
    position: relative;
    top: 0;
    width: 100%;
    z-index: 5;
-webkit-box-shadow: -2px 11px 14px -6px rgba(0,0,0,0.65);
-moz-box-shadow: -2px 11px 14px -6px rgba(0,0,0,0.65);
box-shadow: -2px 11px 14px -6px rgba(0,0,0,0.65);
}

#banner h1{
    margin : 0;
    padding : 1.2%;
    display: block;
    text-align: center;
    
}

#bannerImage{
    z-index: 0;
    height: 20em;
    width: 70%;
    display: block;
    margin: auto;
}

#menu{
-webkit-box-shadow: -2px 11px 14px -6px rgba(0,0,0,0.65);
-moz-box-shadow: -2px 11px 14px -6px rgba(0,0,0,0.65);
box-shadow: -2px 11px 14px -6px rgba(0,0,0,0.65);
}

#menu ul{
    
    margin: 0;
    text-align: center;
    padding-top :1.5%;
    padding-bottom:1.5%;
    margin-bottom: 4%;
}

#menu ul li{
    list-style: none;
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
    
    
}

#menu ul li a{
    
    text-decoration: none;

}

.section video{
    
    display: block;
    margin: auto;
    padding: 5%;
}


#content{
    padding-bottom: 5%;
        -webkit-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.55);
    box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.55);
}

.section{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #FFFFFF;
    margin-bottom: 4%;
    -webkit-box-shadow: 6px 6px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 21px 0px rgba(0,0,0,0.75);
}


h2{
    margin: 0;
    padding: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: -6.3%;
    text-align: center;
    text-decoration: underline;
}

p{
    text-indent: 7%;
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom : 4%;
    margin: 0;
}

ol{
    margin: 0;
    padding-left: 45%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.section img{
    display: block;
    margin: auto;
    max-height: 30em;
    padding: 4%;
}



footer{
    -webkit-box-shadow: 6px 6px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 21px 0px rgba(0,0,0,0.75);
}

footer p{
    margin: 0;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
}

.slideShow p{
    text-indent: 0px;
    text-align: center;
    margin: 0;
    padding: 0;
    
    
}

.slideShowImage{
    padding-top: 4%;
    max-width: 50%;
    height: 25em;
}



